<div class="detailsPage">
    <img src={{activeProduct.url}}>
    <div class="detail-container">
        <div class="detail-item">
            <h3>{{activeProduct.name}}</h3>
            <p>$ {{activeProduct.price}}</p>
            <p>{{activeProduct.description}}</p>
            <input type="number" [(ngModel)]="selectedQuantity" class="number-input">
            <br>
            <button class="btn btn-primary" (click)="addToCart(activeProduct, selectedQuantity)">Add to Cart!</button>
            <br>
            <a routerLink="/">🠔 back to product list</a>
        </div>
    </div>
</div>